:root{
    --primary: #0ea5e9;   /* cyan-500 */
    --primary-700: #0369a1;
    --accent: #22c55e;    /* green-500 */
    --bg: #0b1220;        /* fondo oscuro azulado */
    --panel: #0f172a;     /* slate-900 */
    --card: #111827;      /* gray-900 */
    --text: #e5e7eb;      /* gray-200 */
    --muted: #94a3b8;     /* slate-400 */
    --soft: #1f2937;      /* gray-800 */
    --ring: rgba(14,165,233,0.35);
}